<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="h-screen bg-white flex relative">
    <div class="h-screen w-64 bg-[#4527A0] text-white fixed flex flex-col rounded-tr-[25px] rounded-br-[25px]">
        <div class="flex items-center justify-center h-20 border-b border-gray-700">
            <img src="/static/images/trisakti.png" alt="Logo Trisakti" class="h-12">
        </div>
        <nav class="flex-1 px-4 py-20 space-y-2">
            <a href="{% url 'master:home' %}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-[#5E35B1] flex items-center text-lg">
                <i class="fas fa-home mr-2 text-xl"></i> Home
            </a>
            <a href="{% url 'master:assign_roles' %}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-[#5E35B1] flex items-center text-lg">
                <i class="fas fa-user-cog mr-2 text-xl"></i> Assign Roles
            </a>
            <a href="{% url 'master:job_settings' %}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-[#5E35B1] flex items-center text-lg">
                <i class="fas fa-cogs mr-2 text-xl"></i> Job Settings
            </a>
            <a href="{% url 'master:issue_solving' %}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-[#5E35B1] flex items-center text-lg">
                <i class="fas fa-tools mr-2 text-xl"></i> Issue Solving
            </a>
            <a href="{% url 'master:process_validations' %}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-[#5E35B1] flex items-center text-lg">
                <i class="fas fa-check-circle mr-2 text-xl"></i> Process Validation
            </a>
            <a href="{% url 'master:performance' %}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-[#5E35B1] flex items-center text-lg">
                <i class="fas fa-chart-line mr-2 text-xl"></i> Performance
            </a>
        </nav>
        <div class="px-4 py-6">
            <a href="{% url 'master:logout' %}" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-[#5E35B1] flex items-center text-lg">
                <i class="fas fa-sign-out-alt mr-2 text-xl"></i> Logout
            </a>
        </div>
    </div>
    <body>
        {% block content %}
        {% endblock %}
    </body>

    {% block extra_js %}
    {% endblock %}
</body>
</html>
